/* importing custom font */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);
/* Body styling */
/* mycolor.space is used to create a 3 color gradient background image */
body {
    font-family: "Inter", sans-serif;
    margin: 0;
    }

/* link styling */
a {
    font-family: 'Poppins', 'Inter', sans-serif;
    font-weight: 300;
    font-size: small;
    color:  blue;
    text-decoration: none;

}
/* Styling for the heading */

h3,h2{
    font-family: 'Poppins', 'Inter', sans-serif;
    font-weight: bold;
    font-size:medium;
 
}
/* Styling for the paragraph */
p{
    font-family: 'Poppins', 'Inter', sans-serif;
    font-weight: normal;
    font-size: small;
    

}
/*This is the main container/wrapper  which contains all the div/grids 
  A CSS Grid layout styling is chosen   */
.container{
    display: grid;
    height: 115vh;
    grid-template-columns:1fr 1fr 1fr 1fr;
    grid-template-rows: .04fr .02fr auto .01fr auto .01fr auto .05fr ;
    grid-template-areas:
        "header header header header "
        "nav nav nav nav"
        "main main main main"
        "comic-release-divider comic-release-divider comic-release-divider comic-release-divider"
        "comics-release-1 comics-release-2 comics-release-3 comics-release-3"
        "comic-news-divider comic-news-divider comic-news-divider comic-news-divider"
        "comics-news-1 comics-news-2 comics-news-3 comics-news-4"
        "footer footer footer footer";
    grid-gap: 0.2rem;
    font-weight: 800;
    /* text-transform: uppercase; */
    font-size: 12px;
    color: #004d40;
    text-align: center;
    padding-left: .2em;
    padding-right: .2em;
    border-radius: 5px;
}
/* This is for the Comic News banner/divider/heading -Latest Release  */
.latest-comic-news-divider{
    grid-area:comic-release-divider;
    background:  #333;
    color: #f2f2f2;
    background-color: #333;
    text-align: left;
    font-size: 25px;
    font-family: 'Poppins', 'Inter', sans-serif;
    border-radius: 10px;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.2);
}

/* This is for the Comic News banner/divider/heading -Latest News  */
.latest-comics-releases-divider{
    grid-area:comic-news-divider;
    background:  #333;
    color: #f2f2f2;
    background-color: #333;
    text-align: left;
    font-size: 25px;
    font-family: 'Poppins', 'Inter', sans-serif;
    border-radius: 10px;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.2);
    z-index: -1;

}
/* Main Comics News Slideshow */
.comics-main-news{
    grid-area:main;
}

.slideshow-container {
    position: relative;
    margin-left: 1em;
    margin-right: 1em;
    margin-top: .3em;
    margin-bottom: 0em;
    border-radius: 25px;

}

/* Hide the images by default */
.mySlides {
    display: none;
    margin-bottom: 0%;
    
}

.mySlides img {
    max-height: auto;
    width: 100%;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.2);
    margin-bottom: 0%;
    border-radius: 15px;
    filter: brightness(60%);

}
  /* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -5px;
    padding: 3px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    
}
.prev{
    left: 0;
    border-radius: 3px 0 0 3px;
}

  /* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 1px 0 0 1px;
}

  /* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 0px 15px;
    position: absolute;
    bottom: .5em;
    width: 98%;
    height :30%;
    text-align: left;
    font-family: 'Poppins', 'Inter', sans-serif;
    background-color: rgba(0, 0, 0, 0.3);
}
/* Description text */
.text p{
    color: #f2f2f2;
    position: absolute;
    margin: 1em;
    margin-right: 3em;
    bottom: .5em;
    width: 90%;
    text-align: left;
}
/* Heading */
.text h3{
    color: #f2f2f2;
    position: absolute;
    bottom: 6.5em;
    width: 100%;
    text-align: left;
    margin: 1em;
}

/* Hyperlink styling  */
.text a {
    color: blue;
    font-size: 12px;
}

  /* Number text (1/3 etc) */
.number-text {
    color: white;
    position: absolute;
    margin: 1em;
    z-index: 9;  
}
  
  /* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    margin-top: 0em;
}

.active, .dot:hover {
background-color: #717171;
}

/* Main Comics News Slideshow styling ends here */


/* Four Comic News article styling */
#comics-news-1{
    grid-area:comics-news-1;
    margin:.5em
}
#comics-news-2{
    grid-area:comics-news-2;
    margin:.5em
}
#comics-news-3{
    grid-area:comics-news-3;
    margin:.5em
}
#comics-news-4{
    grid-area:comics-news-4;
    margin:.5em
}
/* Four Comic News article styling ends here  */

/* Three Comic Release article styling */
#comics-release-1{
    grid-area:comics-release-1;
    margin:.5em
}
#comics-release-2{
    grid-area:comics-release-2;
    margin:.5em
}
#comics-release-3{
    grid-area:comics-release-3;
    margin:.5em
}

/* Three Comic Release article styling ends here  */

/* Common article styling for all cards  */
.card{
    overflow: hidden;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    font-family: 'Poppins', 'Inter', sans-serif;
    min-height: 43em;
    background-color: white;
    overflow:scroll;
   
}

.card:hover {
    transform: scale(1.2); 
}
.card-image{
    height: 15rem;
    width :100%;
    object-fit: cover;
}
.card-title{
    font-family: 'Poppins', 'Inter', sans-serif;
    color: black;
    text-align: center;
}
.card-description{
    font-family: 'Poppins', 'Inter', sans-serif;
    color: black;
    text-align: center;
    margin: 1em;
}

.card-link{
    font-family: 'Poppins', 'Inter', sans-serif;
    margin-bottom: 2em;
}
/* Common article styling for all cards ends here */


/* Styling for phone screen  */
@media only screen and (max-width: 500px) {
    .container {
        height: 145vh;
        grid-template-columns: 1fr;
        grid-template-rows: .04fr auto .01fr .01fr auto auto auto .01fr  auto auto auto auto .02fr;
        grid-template-areas:
        "header"
        "nav"
        "main"
        "comic-news-divider"
        "comics-release-1" 
        "comics-release-2" 
        "comics-release-3" 
        "comic-release-divider"
        "comics-news-1" 
        "comics-news-2" 
        "comics-news-3" 
        "comics-news-4"
        "footer";
        ;
    }
.nav a {display: none;}
.nav a.icon {
    float: right;
    display: block;
}
.nav.responsive {position: relative;}
.nav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
}
.nav.responsive a {
    float: none;
    display: block;
    text-align: left;
}
.btn{
    margin: 0;
    width: 100%;
    margin-top: 20px;
    }
.card{
    min-height: 500px;
    }
.card:hover {
        transform: scale(1); 
    }      
.submit-btn{
    margin:.8em;
    margin-top:1.2em;
    }
.left-col{
    margin-left: 4em;
    }
.right-col{
    margin-left: 2em;
    }
.card:hover {
    transform: scale(1); 
    }
}