@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);

body {
    font-family: "Inter", sans-serif;
    margin: 0;
    background: #eee;
    }

.container{
    display: grid;
    height: 145vh;
    grid-template-columns:1fr  ;
    grid-template-rows: .04fr .02fr auto .05fr ;
    grid-template-areas:
        "header"
        "nav"
        "contact-form"
        "footer";
    grid-gap: 0.2rem;
    font-weight: 800;
    /* text-transform: uppercase; */
    font-size: 15px;
    color: #004d40;
    text-align: center;
    padding-left: .2em;
    padding-right: .2em;
    border-radius: 5px;
    background-image: linear-gradient(to left, #787878, #858585, #929292, #9f9f9f, #adadad, #b8b8b8, #c4c4c4, #cfcfcf, #dbdbdb, #e7e7e7, #f3f3f3, #ffffff);


}

@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

/* *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: 'Josefin Sans', sans-serif;
} */


.wrapper{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  max-width: 55em;
  width: 100%;
  height: 50%;
  background: #fff;
  padding: 25px;
  border-radius: 5px;
  box-shadow: 4px 4px 2px rgba(254,236,164,1); 
  grid-area: contact-form;
}

.wrapper h2{
  text-align: center;
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #332902;

}

.wrapper .input_field{
  margin-bottom: 10px;
  
}

.wrapper .input_field input[type="text"],
.wrapper textarea{
  border: 1px solid #e0e0e0;
  width: 100%;
  padding: 10px;
  font-size: 20px;
}

.wrapper textarea{
  resize: none;
  height: 200px;
  font-size: 20px;
  
}

.wrapper .btn input[type="submit"]{
  border: 0px;
  margin-top: 15px;
  padding: 10px;
  text-align: center;
  width: 100%;
  background: #fece0c;
  color: #332902;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: bold;
  border-radius: 25px;
  cursor: pointer;
  font-size: 20px;
}

#error_message{
  margin-bottom: 20px;
  background: #fe8b8e;
  padding: 0px;
  text-align: center;
  font-size: 1px;
  transition: all 0.5s ease;
}