@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);

a {
    text-decoration: none;
}
h1 {
    font-family: "Inter", sans-serif;
    font-weight: 300;
}


:root {
    --main-radius: 5px;
    --main-padding: 5px;
  }

body {
    font-family: "Inter", sans-serif;
    margin: 0;
 
  }
  
.container {
    display: grid;
    height: 180vh;
    grid-template-columns:1fr 1fr 1fr 1fr;
    grid-template-rows: 0.1fr auto auto auto auto 1.2fr 1.2fr auto;
    grid-template-areas:
        "header header header header"
        "nav nav nav nav"
        "latest-news-header main main main"
        "sidebar main main main"
        "sidebar space-news-header space-news-header space-news-header"
        "sidebar space-content-1 space-content-2 space-content-3"
        "star-wars-content-1 star-wars-content-2 star-wars-content-3 star-wars-content-3"
        "footer footer footer footer";
    grid-gap: 0.2rem;
    font-weight: 800;
    text-transform: uppercase;
    font-size: 12px;
    color: #004d40;
    text-align: center;

    
}

.space-news-divider {
    background:  #333;
    grid-area: space-news-header;
    color: #f2f2f2;
    background-color: #717171;
    text-align: center;
    /* padding: 12px 14px; */
    /* text-decoration: none; */
    font-size: 25px;
    font-family: 'Poppins', sans-serif;
    margin: 0%;
    max-height: 50px;

}
.space-news-divider p {
padding: 0%;
margin: 0%;

}
.latest-news-divider {
    background:  #333;
    grid-area: latest-news-header;
    color: #f2f2f2;
    background-color: #717171;
    text-align: center;
    padding: 12px 14px;
    text-decoration: none;
    font-size: 25px;
    font-family: 'Poppins', sans-serif;

}

.main-news-slideshow{
    grid-area: main;
    padding-bottom: 0em;
    padding-bottom: 0em;

}

.slideshow-container {



position: relative;
margin-left: 1em;
margin-bottom: 2em;
margin:.5em
}


/* Slideshow setting here  */

/* Hide the images by default */
.mySlides {
    display: none;
  }
  
.mySlides img {
    max-height: 800px;
    width: 100%;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.2);
    
   
}
  /* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -5px;
    padding: 3px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
.prev{
    left: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 1px 0 0 1px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 0px 10px;
    position: relative;
    bottom: 30px;
    width: 100%;
    text-align: left;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }

  /* slideshow endingh  */


     
/* #sidebar {
background: #18ffff;
grid-area: sidebar;
border-radius: var(--main-radius);
padding-top: var(--main-padding);
} */
  
#space-content-1 {

grid-area: space-content-1;
border-radius: var(--main-radius);
padding-top: var(--main-padding);



}

#space-content-2 {

grid-area: space-content-2;
border-radius: var(--main-radius);
padding-top: var(--main-padding);
}

#space-content-3 {
 
    grid-area: space-content-3;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
}
  
#star-wars-content-1 {

    grid-area: star-wars-content-1;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
    
    
    }
    
    #star-wars-content-2 {
    
    grid-area: star-wars-content-2;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
    }
    
    #star-wars-content-3 {
     
        grid-area: star-wars-content-3;
        border-radius: var(--main-radius);
        padding-top: var(--main-padding);
    }


/* a {
    text-align: center;
    display: block;
    font-family: inherit;
    text-decoration: none;
    font-weight: bold;
    margin: 1rem;
} */

@media only screen and (max-width: 550px) {
.container {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 0.4fr 2.2fr 1.2fr 1.2fr 1.2fr 1fr;
    grid-template-areas:
    "header"
    "nav"
    "sidebar"
    "main"
    "space-content"
    "content2"
    "content3"
    "footer"
    ;
}
/* .nav a:not(:first-child) {display: none;} */
.nav a {display: none;}
.nav a.icon {
    float: right;
    display: block;
}
.nav.responsive {position: relative;}
.nav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
}
.nav.responsive a {
    float: none;
    display: block;
    text-align: left;
}
.btn{
    margin: 0;
    width: 100%;
    margin-top: 20px;
    }
}

  
  @media screen and (max-width:960px) {
    .footer-container{
      max-width: 600px;
    }
    .right-col{
      width: 100%;
      margin-bottom: 20px;
    }
  
    .left-col{
      width: 100%;
      text-align: center;
    }
  }


.card {
    float: left;
    padding: 0 0 rem;
    width: 100%;
}
.card .menu-content {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.card .menu-content::before, .card .menu-content::after {
    content: '';
    display: table;
}
.card .menu-content::after {
    clear: both;
}
.card .menu-content li {
    display: inline-block;
}
.card .menu-content a {
    color: #fff;
}
.card .menu-content span {
    position: absolute;
    left: 50%;
    top: 0;
    font-size: 10px;
    font-weight: 700;
    font-family: 'Open Sans';
    transform: translate(-50%, 0);
}
.card .wrapper {
    background-color: #fff;
    min-height: 450px;
    position: relative;
    overflow: hidden;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.2);
}
.card .wrapper:hover .data {
    transform: translateY(0);
}
.card .data {
    position: absolute;
    bottom: 0;
    width: 100%;
    transform: translateY(calc(70px + 1em));
    transition: transform 0.3s;
}
.card .data .content {
    padding: 1em;
    position: relative;
    z-index: 1;
}
.card .author {
    font-size: 12px;
}
.card .title {
    margin-top: 10px;
}
.card .text {
    height: 70px;
    margin: 0;
}
.card input[type='checkbox'] {
    display: none;
}
.card input[type='checkbox']:checked + .menu-content {
    transform: translateY(-60px);
}





#space-content-1 .wrapper {
    background: url(/media/images/space-img-1.svg)  center / cover no-repeat;
    margin: 4pt;
}
#space-content-2 .wrapper {
    background: url(/media/images/space-img-2.svg)  center / cover no-repeat;
    margin: 4pt;
}
#space-content-3 .wrapper {
    /* background: url(media/images/space-img-3.svg)  center / cover no-repeat; */
    margin: 4pt;
}

.space-content .wrapper:hover .menu-content span {
    transform: translate(-50%, -10px);
    opacity: 1;
}
.space-content .header {
    color: #fff;
    padding: 1em;
}
.space-content .header::before, .space-content .header::after {
    content: '';
    display: table;
}
.space-content .header::after {
    clear: both;
}
.space-content .header .date {
    float: left;
    font-size: 12px;
}
.space-content .menu-content {
    float: right;
}
.space-content .menu-content li {
    margin: 0 5px;
    position: relative;
}
.space-content .menu-content span {
    transition: all 0.3s;
    opacity: 0;
}
.space-content .data {
    color: #fff;
    transform: translateY(calc(70px + 4em));
}
.space-content .title a {
    color: #fff;
}
.space-content .button {
    display: block;
    width: 100px;
    margin: 2em auto 1em;
    text-align: center;
    font-size: 12px;
    color: #fff;
    line-height: 1;
    position: relative;
    font-weight: 700;
}
.space-content .button::after {
    content: '\2192';
    opacity: 0;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(0, -50%);
    transition: all 0.3s;
}
.space-content .button:hover::after {
    transform: translate(5px, -50%);
    opacity: 1;
}

/* Sidebar  */


  #ticker {
	width: auto;
	height: auto;
	/* margin: 2em auto; */
    margin-left: .9em;
    grid-area: sidebar;
}

#ticker-wrapper {
	height: 100%;
	width: 100%;
	overflow: hidden;
	position: relative;
	
}

#ticker-wrapper ul {
	margin: 0;
	padding: 0;
	list-style: none;
	width: 100%;
	height: 800px;
	position: relative;
	transition: all 1400ms ease-in-out;
    transition-delay: 1s;
}

#ticker-wrapper li {
	display: block;
	height: 200px;
	width: 100%;
	margin-bottom: 0.3em;
	position: relative;
}

#ticker-wrapper li:nth-child(even) {
	background: #f5f5f5;
}

#ticker-wrapper li figure {
	width: 200px;
	height: 200px;
	float: left;
	margin: 0;
	padding: 0;
}

#ticker-wrapper li figure img {
	display: block;
	width: 100%;
	height: 100%;
}

#ticker-wrapper li h3 {
	float: right;
	margin: 0;
	padding-top: 2em;
	padding-right: 0.5em;
	font-size: 1em;
}




/*  */
.latest-news-divider nav ul {
    padding: 0;
    list-style-type: none;
}

.latest-news-divider nav li {
    width: 20rem;
    height: 7rem;
    font-size: 20px;
    text-align: center;
    line-height: 7rem;
    font-family: sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    position: relative;
    transition: 0.3s;
    margin: 3rem;
}

.latest-news-divider nav li::before,
.latest-news-divider nav li::after {
    content: '';
    position: absolute;
    width: inherit;
    height: inherit;
    top: 0;
    left: 0;
    transition: 0.3s;
}

.latest-news-divider nav li::before {
    background-color: white;
    z-index: -1;
    box-shadow: 0.2rem 0.2rem 0.5rem rgba(0, 0, 0, 0.2);
}

.latest-news-divider nav li::after {
    background-color: goldenrod;
    transform: translate(1.5rem, 1.5rem);
    z-index: -2;
}

.latest-news-divider nav li:hover {
    transform: translate(1.5rem, 1.5rem);
    color: white;
}

.latest-news-divider nav li:hover::before {
    background-color: goldenrod;
}

.latest-news-divider nav li:hover::after {
    background-color: white;
    transform: translate(-1.5rem, -1.5rem);
}

